<html>
  <head>
  </head>
  <body>
       <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
              <legend class="border-bottom mb-4"><h1>Login</h1></legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    
                </div>
        </form>
       </div>
       {% if current_user.is_authenticated %}
          <img src="{{ url_for('calc',username=z) }}">
       {%endif%}

  </body>
</html>
